body{
    margin: 0;
    padding: 50px;
}

.all_student{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
    display: inline-flex;
}

p{
    flex: 1;
    display: flex;
    align-items: center;
}



#detail{
    flex: 1;
    display: flex;
    align-items: center;
}